In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\Users\Sushant\Desktop\Datasets\Augmented_Iris.csv")
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,8.580114,7.411803,2.435236,1.236291,0.395102,Iris-setosa
1,79.332857,6.150941,2.058516,4.249965,-0.045997,Iris-setosa
2,53.078406,6.444759,3.484995,0.446859,0.708402,Iris-setosa
3,61.691342,6.605249,2.324837,0.308108,0.012925,Iris-setosa
4,68.423709,5.663883,3.030080,1.279134,2.374453,Iris-versicolor
...,...,...,...,...,...,...
999995,119.268226,8.616395,2.504599,0.301577,-0.269477,Iris-versicolor
999996,3.002019,7.359680,2.822294,2.721681,0.933512,Iris-setosa
999997,36.225178,4.638105,2.558795,2.996104,0.747206,Iris-setosa
999998,44.642670,8.597138,2.199136,1.997171,0.071688,Iris-setosa
999999,44.021513,5.569974,2.565549,0.849239,-0.230247,Iris-setosa

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Id             1000000 non-null  float64
 1   SepalLengthCm  1000000 non-null  float64
 2   SepalWidthCm   1000000 non-null  float64
 3   PetalLengthCm  1000000 non-null  float64
 4   PetalWidthCm   1000000 non-null  float64
 5   Species        1000000 non-null  object
dtypes: float64(5), object(1)
memory usage: 45.8+ MB

In [4]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
data["Species"]=l1.fit_transform(data["Species"])

In [6]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,8.580114,7.411803,2.435236,1.236291,0.395102,0
1,79.332857,6.150941,2.058516,4.249965,-0.045997,0
2,53.078406,6.444759,3.484995,0.446859,0.708402,0
3,61.691342,6.605249,2.324837,0.308108,0.012925,0
4,68.423709,5.663883,3.030080,1.279134,2.374453,1
...,...,...,...,...,...,...
999995,119.268226,8.616395,2.504599,0.301577,-0.269477,1
999996,3.002019,7.359680,2.822294,2.721681,0.933512,0
999997,36.225178,4.638105,2.558795,2.996104,0.747206,0
999998,44.642670,8.597138,2.199136,1.997171,0.071688,0
999999,44.021513,5.569974,2.565549,0.849239,-0.230247,0

In [7]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [10]:
y_pred=classifier.predict(x_test)
y_pred

array([2, 2, 0, ..., 0, 1, 0])

In [11]:
ab=classifier.score(x_test,y_test)*100
ab

34.8235