In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict

In [2]:
data=pd.read_csv(r"D:\Machine learning dataset\Social_Network_Ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [4]:
ad=data.loc[(data["Purchased"]==1)]
ad

     Age  EstimatedSalary  Purchased
7     32           150000          1
16    47            25000          1
17    45            26000          1
18    46            28000          1
19    48            29000          1
..   ...              ...        ...
393   60            42000          1
395   46            41000          1
396   51            23000          1
397   50            20000          1
399   49            36000          1

[143 rows x 3 columns]

In [5]:
A=data.iloc[[0,1,7,16],:-1]
A

    Age  EstimatedSalary
0    19            19000
1    35            20000
7    32           150000
16   47            25000

In [6]:
B=data.iloc[[0,1,395,396],-1]
B

0      0
1      0
395    1
396    1
Name: Purchased, dtype: int64

In [7]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [8]:
from sklearn.model_selection import StratifiedKFold
sf=StratifiedKFold(n_splits=2,random_state=10, shuffle=True)
sf.get_n_splits(x,y)
print(sf)

StratifiedKFold(n_splits=2, random_state=10, shuffle=True)

In [9]:
from sklearn.linear_model import LogisticRegression
l1=LogisticRegression()

In [10]:
for train_index,test_index in sf.split(x,y):
    print("TRAIN: ",train_index,"TEST: ",test_index)
    x_train,x_test=x[train_index], x[test_index]
    y_train,y_test=y[train_index], y[test_index] 
    score=cross_val_score(l1,x_train,y_train,cv=sf)
    print("Score: ",score)
    print("Mean: ",np.mean(score)*100)
    y_pred=cross_val_predict(l1,x_test
                             ,y_test,cv=sf)
    print("Prediction: ",y_pred)

TRAIN:  [  0   3   8   9  10  13  15  17  20  22  26  27  29  31  32  34  37  39
  41  42  43  47  49  50  53  54  57  59  60  61  63  65  66  67  68  69
  70  71  78  79  85  86  89  91  94  95  97  98 104 105 106 107 108 109
 110 113 114 115 117 118 119 120 121 123 124 125 126 127 129 130 132 134
 135 137 139 142 143 144 145 147 148 153 157 158 161 165 168 170 173 176
 180 184 186 188 190 194 196 197 198 199 202 204 206 207 209 211 212 214
 218 221 224 225 226 228 229 231 233 234 238 239 241 242 243 244 245 247
 248 250 254 255 256 257 258 259 262 268 273 280 281 282 283 285 286 287
 289 295 296 297 300 303 304 306 307 310 311 312 314 316 317 318 319 320
 321 322 324 328 331 335 336 340 342 346 347 348 350 352 355 357 358 359
 362 363 364 368 369 370 371 372 374 375 381 384 385 390 391 392 394 395
 397 399] TEST:  [  1   2   4   5   6   7  11  12  14  16  18  19  21  23  24  25  28  30
  33  35  36  38  40  44  45  46  48  51  52  55  56  58  62  64  72  73
  74  75  76  77  80  81  82  83  84  87  88  90  92  93  96  99 100 101
 102 103 111 112 116 122 128 131 133 136 138 140 141 146 149 150 151 152
 154 155 156 159 160 162 163 164 166 167 169 171 172 174 175 177 178 179
 181 182 183 185 187 189 191 192 193 195 200 201 203 205 208 210 213 215
 216 217 219 220 222 223 227 230 232 235 236 237 240 246 249 251 252 253
 260 261 263 264 265 266 267 269 270 271 272 274 275 276 277 278 279 284
 288 290 291 292 293 294 298 299 301 302 305 308 309 313 315 323 325 326
 327 329 330 332 333 334 337 338 339 341 343 344 345 349 351 353 354 356
 360 361 365 366 367 373 376 377 378 379 380 382 383 386 387 388 389 393
 396 398]
Score:  [0.58 0.57]
Mean:  57.49999999999999
Prediction:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
TRAIN:  [  1   2   4   5   6   7  11  12  14  16  18  19  21  23  24  25  28  30
  33  35  36  38  40  44  45  46  48  51  52  55  56  58  62  64  72  73
  74  75  76  77  80  81  82  83  84  87  88  90  92  93  96  99 100 101
 102 103 111 112 116 122 128 131 133 136 138 140 141 146 149 150 151 152
 154 155 156 159 160 162 163 164 166 167 169 171 172 174 175 177 178 179
 181 182 183 185 187 189 191 192 193 195 200 201 203 205 208 210 213 215
 216 217 219 220 222 223 227 230 232 235 236 237 240 246 249 251 252 253
 260 261 263 264 265 266 267 269 270 271 272 274 275 276 277 278 279 284
 288 290 291 292 293 294 298 299 301 302 305 308 309 313 315 323 325 326
 327 329 330 332 333 334 337 338 339 341 343 344 345 349 351 353 354 356
 360 361 365 366 367 373 376 377 378 379 380 382 383 386 387 388 389 393
 396 398] TEST:  [  0   3   8   9  10  13  15  17  20  22  26  27  29  31  32  34  37  39
  41  42  43  47  49  50  53  54  57  59  60  61  63  65  66  67  68  69
  70  71  78  79  85  86  89  91  94  95  97  98 104 105 106 107 108 109
 110 113 114 115 117 118 119 120 121 123 124 125 126 127 129 130 132 134
 135 137 139 142 143 144 145 147 148 153 157 158 161 165 168 170 173 176
 180 184 186 188 190 194 196 197 198 199 202 204 206 207 209 211 212 214
 218 221 224 225 226 228 229 231 233 234 238 239 241 242 243 244 245 247
 248 250 254 255 256 257 258 259 262 268 273 280 281 282 283 285 286 287
 289 295 296 297 300 303 304 306 307 310 311 312 314 316 317 318 319 320
 321 322 324 328 331 335 336 340 342 346 347 348 350 352 355 357 358 359
 362 363 364 368 369 370 371 372 374 375 381 384 385 390 391 392 394 395
 397 399]
Score:  [0.65 0.64]
Mean:  64.5
Prediction:  [0 0 0 0 1 1 0 0 1 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1 1 0 1 0 0 0 0
 1 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 1 0 0 0 1 0 0 0 1 0 0 0 0 1 0]

In [11]:
y1=cross_val_predict(l1,A,B,cv=sf)
print("Prediction: ",y1)

Prediction:  [0 0 0 0]